.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(208, 223, 0);
    color: #333;   
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(83, 86, 90);
    font-size: 1.7rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a.active{
    color: white;
}