body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: white;
    color: rgb(83, 86, 90);
}

/*Barra de navegacion*/
.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(208, 223, 0);
    color: #333;   
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(83, 86, 90);
    font-size: 1.7rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a.active{
    color: white;
}

/* cabecera del sitio */
.site-header{
    background-color: white;
    color: rgb(83, 86, 90);
    padding: 60px 20px;
    text-align: center;
}
#main-title{
    color: rgb(83, 86, 90) !important;
    font-size: 3rem;
}
#main-title-agent{
    color: rgb(83, 86, 90);
    font-size: 2rem;
}

/*Contenedor*/
.container{
    width: 95%;
    max-width: 1400px;
    margin: 40px;
}

/*Tarjetas de disposicion*/
.flex-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.contenedor{
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(83, 86, 90);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*Footer*/
footer {
    padding: 40px 20px;
    background-color: rgb(240, 240, 240);
    color: rgb(83, 86, 90);
    margin-top: 20px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
